<app-main-page-header></app-main-page-header>

<h3 style="margin-top: 100px; display: block; width: 100%; text-align: center;">{{getSectionName()}}</h3>

<p style="width: 100%; text-align: center;">{{getSectionDescription()}}</p>

<div style="position: absolute; top: 100px; left: 20px;">
    <button mat-stroked-button (click)="back()">
      <mat-icon>home</mat-icon>
      {{translateText("home")}}
    </button>
</div>

<ul class="productaList">
    <li class="products" *ngFor="let product of Products">
        <app-product [data]="product" ></app-product>
    </li>
</ul>