<div class="container">
    <div class="leftSide">
        <p>{{item.product.name}}</p>
        <img src="{{item.productvariant.variantsimages[0].link}}" style="width: 30%; flex: 1;">
    </div>
    <div class="rightSide">
        <p>{{item.product.description}}</p>
        <div style="width: 25%; display: inline-block; margin-right: 5px; border: solid 1px gray; border-radius: 10px;">
            <p>{{translateText("quantity")}}</p>
            <p>{{item.quantity}}</p>
        </div>
        <div style="width: 25%; display: inline-block; margin-left: 5px; border: solid 1px gray; border-radius: 10px;">
            <p>{{translateText("price")}}</p>
            <p>{{item.quantity*item.productvariant.price}}</p>
        </div>
        
    </div>
</div>