.container {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 70px;
}

.table {
    margin: 0 auto;
    width: 100%;
    padding: 20px; 
    background-color: white;
    border-radius: 10px;
}

td {
    width: 100%;
    border-radius: 10px;
}

td :hover {
    opacity: 70%;
}