<div class="parent">
    <ul class="menuList">
        <li *ngFor="let menu of Menues; let i =index;">
            <button mat-button [matMenuTriggerFor]="afterMenu" style="height: 100%; outline:none; border: none; margin-right: 10px;">
                <div style=" display:flex; align-items:center;">
                    <mat-icon style="display:inline; margin-right: 5px;" aria-hidden="false" aria-label="Example home icon" color="primary">{{menu.icon}}</mat-icon>
                    <span style="display:inline;" color="primary">{{menu.name}}</span>
                </div>
            </button>
            <div id="{{'menu'+i}}" style="display: inline-block;">
                <mat-menu #afterMenu="matMenu" xPosition="after">
                    <button mat-menu-item *ngFor="let item of menu.items; let x=index" (click)="setMenuButtonClick(menu,x)">{{item}}</button>
                </mat-menu>
            </div>
        </li>
    </ul>
</div>